<!--views/payement_results.erb-->
<h1>Payment Results</h1>
<body>
<dl>
  <dt>APR</dt>
  <dd><%= @rate.to_fs(:percentage)%></dd>
  <dt>Number of years</dt>
  <dd><%= @n %></dd>
  <dt>Principal</dt>
  <dd><%= @pv.to_fs(:currency) %></dd>
  <dt>Payment</dt>
  <dd><%= @payment.to_fs(:currency) %></dd>
</dl>
<div><a href = "/payment/new">Calculate another payment</a></div>
</body>
