<!--views/rand_results.erb-->
<h1>Random Results</h1>

<body>
<dl>
<dt>Minimum</dt>
<dd><%=@min%></dd>
<dt>Maximum</dt>
<dd><%=@max%></dd>
<dt>Random Number</dt>
<dd><%=@number%></dd>
</dl>
<div><a href = "/random/new">Pick another random number</a>
</body>
