<!--views/sqrt_new.erb-->
<div>
  <form action = "/square_root/results">
  <label for = "sqrt_input">Enter a number</label>
    <input id = "sqrt_input" style = "text" name = "sqrt" placeholder = "What number do you want?">
    <div><button>Calculate square root</button></div>
  </form>
</div>
